#
# Photopache by @Servuc
#
# For a full breakdown of the mod_autoindex module:
# http://apache.org/docs/2.2/mod/mod_autoindex.html
#

	# ENABLE INDEXING
	Options +Indexes

	# INDEX OPTIONS
	IndexOptions +Charset=UTF-8 +FancyIndexing +IgnoreCase +FoldersFirst +XHTML +HTMLTable +SuppressRules +SuppressDescription +NameWidth=* +IconsAreLinks

    # META VIEWPORT
    IndexHeadInsert "<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />"

	# HIDE /theme DIRECTORY
	IndexIgnore .htaccess /theme

#
# THEME CONFIG
#

	HeaderName theme/header.html
	ReadmeName theme/footer.html
	IndexStyleSheet "theme/photopache.min.css"
