@import "variables.scss";

*
{
  font-family: $font !important;
}

body
{
  background: $background;
  margin: 0;
  padding: 0;
}

#indexlist
{
  display:none;
}

.modal-cover
{
  background-color: $modal-cover-background;
  position: fixed;
  top: -100vh;
  left: 0px;
  width: 100vw;
  height: 100vh;
  transition: all 1s;
}

.modal
{
  position: absolute;
  top:10vh;
  bottom:10vh;
  left:10vh;
  right:10vh;
  background-repeat: no-repeat;
  background-color: $modal-background;
  background-position: center;
  background-size:contain;
}

.modal-visible
{
  top: 0vh;
}

.modal-close
{
  position:absolute;
  right:8px;
  top:6px;
  color: $modal-close-color;
  cursor:pointer;
}

.modal-title > h1
{
  background: $modal-title-background;
  color: $modal-title-color;
  margin-top:0px;
  padding: 8px 0px;
  text-align:center;
}

.modal-arrow
{
  position: absolute;
  background: $modal-title-background;
  color: $modal-title-color;
  width: 34px;
  top: 45%;
  text-align: center;
  cursor:pointer;
}

.modal-previous
{
  left:0px;
}

.modal-next
{
  right:0px;
}

//Theme
.menu
{
  background: $menu-background;
  position:fixed;
  top: 0px;
  left: 0px;
  width: 5vw;
  height: 100vh;
  transition: all 500ms;

  &:hover, &.open {
    width: $menu-width;

    .menu-heading {
      display: block;
    }
  }


  a.menu-entry,div.menu-entry {
    width: 100%;
    display: flex;
    height:40px;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;

    div.menu-icon {
      min-width: 5vw;
      font-size: 40px;
      text-align: center;
    }
    div.menu-text {
      max-width: 45vw;
      text-overflow: ellipsis;
    }
  }

  a {
    color: $menu-color;
    text-decoration: none;
  }

  .menu-heading {
    font-weight: bold;
    color: $menu-white;
  }
}

@media screen and (max-width: 640px) {
  div.menu-text {
    max-width: 95vw;
  }

  .menu:hover {
      width: 100vw;
    }
}


.content {
  margin-left: 5vw;
  display: flex;
  max-width: 95vw;
  flex-direction: row;

  .content-column {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    img.thumbnail {
      cursor: zoom-in;
      width: 100%;
    }

    img.thumbnail:hover {
      -webkit-box-shadow:inset 0 0 10px 2px $menu-color;
      box-shadow:inset 0 0 10px 2px $menu-color;
    }
  }
}