$UbuntuFontsPath: "/theme/fonts";
@import "../../../node_modules/ubuntu-fontface/_ubuntu-condensed.scss";
$font: "Ubuntu Condensed";

$menu-background: #333;
$menu-color: #1E90FF;
$menu-white: #FFFFFF;
$menu-width: 50vw;

$background: #999;

$modal-cover-background: transparentize($menu-background, 0.4);
$modal-background: #000;
$modal-close-color: #ff0000;
$modal-title-background: transparentize($menu-background, 0.5);
$modal-title-color: lighten($menu-background, 50%);